<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555801837840-6m405i382covs56fpmvpkttmc8ej89sj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555801837840-6m405i382covs56fpmvpkttmc8ej89sj</string>
	<key>API_KEY</key>
	<string>AIzaSyA64SBcpF-fQ2VsdZd1OZNvoBBhqw7FI7k</string>
	<key>GCM_SENDER_ID</key>
	<string>555801837840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>OGI.Parrot</string>
	<key>PROJECT_ID</key>
	<string>parrot-1e90f</string>
	<key>STORAGE_BUCKET</key>
	<string>parrot-1e90f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555801837840:ios:8f1a3b534866073619e595</string>
	<key>DATABASE_URL</key>
	<string>https://parrot-1e90f.firebaseio.com</string>
</dict>
</plist>